<!doctype html>
<html>
  <head>
    <title>Grocery Listify</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <script src="/lib/react.js"></script>
    <script src="/lib/react-dom.js"></script>
    <script src="/lib/browser.min.js"></script>
    <script src="/lib/jquery.min.js"></script>
  </head>
  <body>