<!doctype html>
<html>
  <head>
    <title>Grocery Listify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/lib/react.js"></script>
    <script src="/lib/react-dom.js"></script>
    <script src="/lib/browser.min.js"></script>
    <script src="/lib/jquery.min.js"></script>
  </head>
  <body>
   <div class="navbar-header">
        <a href="#" class="fa fa-bars"></a>
        <a href="/" class="logo">ShoppingKart</a>
        <a href="#" class="fa fa-shopping-cart"></a>
        <a href="#" class="fa fa-search"></a>
      </div>
    <div class="overlay-cont">
      <ul class="side-menu">
         <li>
          <a href="/login">Login</a>
        </li>
        <li>
         <a href="#">Register</a>
        </li>
        <li>
          <a href="/categories">Categories</a>
        </li>
        <li>
            <a href="#">Blogs<a/>
        </li>
        <li>
          <a href="/aboutus">About us</a>
        </li>
      </ul>
      <ul class="shopping-cart-box" id="shoppingCartBox">

       </ul>

      <div class="search-box">
         <input type='text' placeholder="search">
         <ul class="suggestion-list">
           <li>Suggestion 1</li>
           <li>Suggestion 2</li>
           <li>Suggestion 3</li>
           <li>Suggestion 4</li>
         </ul>
      </div>
</div>
 