<!doctype html>
<html>
  <head>
    <title>Grocery Listify</title>
        <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/product.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <script src="/lib/react.js"></script>
    <script src="/lib/react-dom.js"></script>
    <script src="/lib/browser.min.js"></script>
    <script src="/lib/jquery.min.js"></script>
  </head>
  <body>

    <div class="navbar-header">
      <a href="#" class="fa fa-bars"></a>
      <a href="/" class="logo">Dentalkart</a>
      <a href="#" class="fa fa-shopping-cart"></a>
      <a href="#" class="fa fa-search"></a>
    </div>
    
   <div class="page-wrapper">
    <div id="content">
        <img src="/ripple.svg" class="loading-icon"/>
    </div>
  
  </div>
  <script type="text/babel" src="/productListComponent.js"></script>
 </body>
</html>
