
.product a{
    display: flex;
    border-bottom: 1px solid #E7E3E3;
    padding: 5px 0;
}
.product-img{
    width:25%;
}
.product-img img{
    width: 80px;
}
.product-detail{
    width:75%;
    color: #000;
}
.product_name{
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}
.gray .fa-star{
    color: #C5C5C5;
}
.yellow .fa-star{
    color: #FFCC32;
}
.product-detail li {
    margin: 4px 0;
}
.product-detail li span {
    margin: 0 3px 0 0;
}
.price{
        color: #B2B2B2;
    text-decoration: line-through;
}
/**/
.product-page {
    padding-bottom: 50px;
}
.product-page .product-img ,
.product-page .product-img img{
    width:100%;
}
.product-page .product-detail {
    width: auto;
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 14px;
}
.product-page .product-detail li{
    font-size: 16px;
}
.product-page .product-detail li span{
    font-size:14px;
}
.buy-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}
.buy-btn a {
    width: 50%;
    display: block;
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.add-cart{
   background: #FF5722;
}
.buy-now{
    background: #000;
}