*{
    padding:0;
    margin:0;
}
body {
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 62px;
}
ul{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
	width: 100%;
}
.loading-icon{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100px;
}
.page-wrapper{
}
.navbar-header{
	height: 60px;
	position: fixed;
	background: #fff;
	width: 100%;
	border-bottom: 3px solid #EBEBEB;
	top: 0;
	z-index: 100;
}

.navbar-header a{
	color: #000000;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	font-size: 20px;
}
.navbar-header .fa-bars{
	font-size: 25px;
	left: 18px;
}
.active.fa-bars:before,
.active.fa-shopping-cart:before,
.active.fa-search:before{
	content: "\f00d";
}
.navbar-header .logo{
	left: 50px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
}
.navbar-header .fa-shopping-cart{
	right: 60px;
}
.navbar-header .fa-search{
	right: 20px;
}
.content{
	padding: 0 15px;
}
.categories{
	padding: 0;
	display: flex;
}
.category-list{
	width: 100%;
}
.category-list li{
	border-bottom: 1px solid #E1E1E1;
	padding: 5px 0px;
}
.category-list li a{
	display: flex;
	flex-wrap:wrap;
	color: #000;
	position: relative;
}
.category-list li a i{
	position: absolute;
	font-size: 30px;
	top: 50%;
	transform: translate(0,-50%);
	right: 5px;
}
.category-img{
	width: 20%;
}
.category-img img{width: 50px;}
.category-description{
	width: 80%;
	font-size: 14px;
	text-transform: capitalize;
	padding: 10px 0 0;
}
.brands{
	margin: 20px 0;
}
.brands h2{
	font-weight: 500;
	margin: 24px 0 16px;
	font-size: 18px;
}
.brands ul{
	display: flex;
}
.brands ul li{
	margin: 0 1px;
	width: 33%;
}

.overlay-cont .side-menu,
.overlay-cont .shopping-cart-box,
.overlay-cont .search-box{
	position: fixed;
	height: 100%;
	background: #fff;
	z-index: 1;
	top: 60px;
	opacity: 0;
	width: 0;

}

.overlay-cont .shopping-cart-box{
	right: 0;
}

.side-menu li{
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 20px;
    border-bottom: 1px solid #EFECEC;
}
.overlay-cont .search-box{
	width: 100%;
	display: none;
	padding-bottom: 55px;
	opacity: 1;
}
.search-box input{
	width: 100%;
	position: relative;
	font-size: 18px;
	padding: 14px 19px;
	border: 1px solid #B7B1B1;
}
.search-box .suggestion-list li{
	    padding: 10px 17px;
	    font-size: 15px;
	    color: #ccc;
}
.checkout-btn{
	position: fixed;
    bottom: 0;
    background: #FF5722;
    width: 100%;
}
.checkout-btn a{
	display: block;
    color: #fff;
    font-size: 14px;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
}

.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.shopping-cart-box .shopping-cart-item{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 0;
    margin: 5px;
}
.shopping-cart-item .cart-item-img{
  width: 25%;
  display: inline-block;
}

.shopping-cart-item .image-container {
    display: inline-block;
    width: 40%;
    float: left;
}
.shopping-cart-item h4 {
	font-weight: normal;
	font-size: 15px;
	padding: 15px 0;
}
.shopping-cart-item .item-count{
	display: inline-block;
	width: 75%;
	border-radius: 25px;
	background-color: #ccc;
	margin-bottom: 10px;
	position: relative;
}
.shopping-cart-item .cart-item-details{
	font-size: 20px;
	display: inline-block;
	width: 70%;
	text-align: center;
}
.shopping-cart-item .cart-item-details li{
	display: inline-block;
	width: 49%;
	font-size: 15px;
}

.shopping-cart-item li div{
	color: #ccc;
}
.shopping-cart-item button{
    background: transparent;
    border: none; 
    cursor: pointer;
}  
.shopping-cart-item .item-count button{
	font-size: 30px;
	color: #fff;
}
.shopping-cart-item .item-amount{
	float: left;
	padding: 5px;
	width: 65%;
}
.shopping-cart-item .fa-trash{
	float: right;
	padding: 5px;
	font-size: 20px;
}
.shopping-cart-item .item-count .fa-plus-circle{
	position: absolute;
	top: 5px;
	left: 5px;
}
.shopping-cart-item .item-count .fa-minus-circle{
	position: absolute;
	top: 5px;
	right: 5px;
}
.shopping-cart-item .item-count div{
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}
.delivery-option{
	    display: flex;
    padding: 10px 0;
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
}
.delivery-option > div {
    width: 50%;
}
#login{
	width: 90%;
	margin: 0 auto;
	color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#login label{
	width:8%;
}
#login input{
	width: 85%;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 10px 5px;
	background: transparent;
	color: #000;
	margin-bottom: 20px;
}
#login input[type='submit']{
	color: #ECE8E8;
	background-color: #000000;
	padding: 13px;
	text-align: center;
	margin: 15px auto;
	width: 70%;
	border: none;
	text-transform: uppercase;
}
#login a {
    color: #000;
    font-size: 15px;
    text-align: center;
    display: block;
}
#login input:focus {
	outline:none;
}
.login-buttons-cont{
	text-align: center;
}

