<% include ../views/partials/header %>
    
    <div class="page-wrapper">
    
      <div class="hero-header">
          <img src="images/banner.jpg" alt="dentalkart" class="hero-banner">
      </div>

      <div class="content">
        <div class="categories" id="categories">
              <div id="content">
                
            </div>
        </div>

        <div class="brands">
          <h2>Brands</h2>
          <ul>
            <li><img src="images/brand.png"></li>
            <li><img src="images/brand.png"></li>
            <li><img src="images/brand.png"></li>
          </ul>
        </div>
      </div>
    </div>

  <script type="text/babel" src="/components/categoryListComponent.js"></script>

<% include ../views/partials/footer %>