<% include ../views/partials/header %>
   <div class="page-wrapper">
    <div id="content">
        <img src="/ripple.svg" class="loading-icon"/>
    </div>
  
  </div>
  <script type="text/babel" src="/components/productListComponent.js"></script>


<% include ../views/partials/footer %>